@font-face {
    font-family: 'masterOfBreak';
        src: url('master_of_break.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital';
        src: url('digital_dismay.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

div {
  border: solid 1px;
}

#mainContainer {
  text-align: center;
  /*border: solid;*/
  width: 100%;
  height: 100%;
}

#header {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /*Esthetic part*/
  /*border: dashed;*/
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  background-color: #CCE;
}

#calc {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
  width: 17%;
  /*Esthetic part*/
  /*border: dashed;*/
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
}

#display {
  width: 93%;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  font-family: digital;
  font-size: 40px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  width: 93%;
  overflow: hidden;
}

.button {
  width: 18%;
  height: 25px;
  float: left;
  margin-left: 10px;
  /*overflow: hidden;*/
  text-align: center;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}

#tweetContainer {
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px 10px 40px;
  width: 35%;
  /*Esthetic part*/
}
